@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap');

// Variables
// Responsive
$mobile: 767px;
$tablet: 992px;
$laptop: 1200px;
// Colors
$bg: #E6E6E6;
$bg-blue: #1A2640;
$primary: #1A2640;
$blue: #438CDB;

@mixin sm-and-down {
    @media (max-width: $mobile - 1) {
        @content;
    }
}

@mixin md-and-down {
    @media (max-width: $tablet - 1) {
        @content;
    }
}

@mixin md-only {
    @media (min-width: $mobile ) and (max-width: $laptop ) {
        @content;
    }
}

@mixin md-and-up {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin lg-and-down {
    @media (max-width: $laptop - 1) {
        @content;
    }
}

@mixin lg-and-up {
    @media (min-width: $laptop) {
        @content;
    }
}

* {
    font-family: 'Montserrat', sans-serif;
    color: $primary;
}

img,
picture {
    display: block;
    max-width: 100%;
}

body {
    background: $bg;
}

p {
    line-height: 1.3rem;
}

// General classes
.color-primary {
    color: $primary;
}

.bg-blue {
    background: $bg-blue;
}

// Navbar
#nav {
    padding: 2.5rem 0;

    .navbar-brand {
        // max-width: 22rem;
        max-width: 60%;

        @include md-and-up {
            max-width: 30%;
        }
    }

    .navbar-collapse {
        flex-grow: unset;

        .navbar-nav {
            li.nav-item {
                font-size: 0.75rem;
                font-weight: 700;
                text-transform: uppercase;
                padding: 0.65rem;
                transition: 0.2s;
                border-bottom: 3px solid rgba($primary, 0);

                &:hover {
                    border-bottom: 3px solid rgba($primary, 1);
                }
            }
        }
    }
}

// Content
#content {
    .main {
        background: no-repeat url('assets/bg-1.png');
        background-size: 100%;
        background-position-y: -1rem;
        padding-top: 12rem;
        margin-bottom: 4.5rem;

        @include sm-and-down {
            padding-top: 6rem;
            background-position-y: -1rem;
        }

        @include md-and-up {
            padding-top: 6rem;
            background-position-y: -3rem;
        }

        .part-1 {
            margin-bottom: 4rem;

            @include md-and-up {
                margin-bottom: 8rem;
            }

            h1 {
                margin-bottom: 2rem;
            }

            p {
                line-height: 1.5rem;
            }
        }

        .part-2 {
            div.col-md-6 {
                margin-bottom: 3rem;

                @include md-and-up {
                    margin-bottom: 0;
                }
            }

            img {
                margin: 0 auto;
                max-width: 70%;
            }

            h5 {
                margin: -0.5rem 0 1.5rem;

                @include md-and-up {
                    margin: -1rem 0 1.5rem;
                }
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    .specialty {
        background: no-repeat url('assets/bg-2.png');
        background-size: 100%;
        background-position: bottom;

        .part-1 {
            margin-bottom: 2rem;
        }

        .part-2 {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }

        .decorator {
            padding: 5rem 0 17rem;

            @include sm-and-down {
                padding: 5rem 0 10rem;
            }

            @include md-and-up {
                padding: 5rem 0 24rem;
            }

            @include lg-and-up {
                padding: 16rem 0 12.5rem;
            }

            h2 {
                text-align: center;
                font-weight: 800;
                margin: 0;
            }
        }
    }

    .copilot {
        h2 {
            font-weight: 800;
        }
    }
}